<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Monoid-Mac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Monoid-TVOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Monoid-WatchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Monoid-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7802CF11C3FD96F00F747C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7802D061C3FDA7700F747C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7802D1F1C3FDC5200F747C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7802D371C3FDE3100F747C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7802D4B1C3FDF3800F747C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7802D601C3FE16700F747C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7802D781C3FE20E00F747C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E78A83921C332786009C2425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E78A839C1C332786009C2425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
